.navbar{
    background-image: url('./images/bg-2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    padding: 2rem;
}
.menu_list{
    list-style-type: none;
    padding-left: 30%;
}
.menu_item{
    display: inline-block;
    font-size: 1.4rem;
    margin: 2rem;
}
.main_section{
    background-image: url(../images/bg-2.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    /* height: 100%; */
}
.buylist{
    padding: 30px;
    color: rgb(255, 106, 0);
    text-align: center;
    align-items: center;
}
.boughtlist{
    padding: 30px;
    color: rgb(255, 106, 0);
    text-align: center;
    align-items: center;
}
.card{
    opacity: 0.8;
    border-radius: 40px;
}
.table{
    padding: 5px;
    /* padding-left: 10px;
    border: 2px solid; */
    text-align: center;
    color: rgb(8, 8, 8);
    font-weight: 600;
}
td{
    padding: 15px;
    margin-left: 10px;
}
.message{
    font-weight: 500;
    color: rgb(224, 147, 47);
}